@font-face {
	font-family: 'Cplate';
	src: url('#{$fontPath}/Copperplate-Gothic-Std-30-BC_11848.eot');
	src: local('☺'), url('#{$fontPath}/Copperplate-Gothic-Std-30-BC_11848.woff') format('woff'), url('#{$fontPath}/Copperplate-Gothic-Std-30-BC_11848.ttf') format('truetype'), url('#{$fontPath}/Copperplate-Gothic-Std-30-BC_11848.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'Caslon-BI';
	src: url('#{$fontPath}/Adobe Caslon Pro Bold Italic.eot');
	src: local('☺'), url('#{$fontPath}/Adobe Caslon Pro Bold Italic.woff') format('woff'), url('#{$fontPath}/Adobe Caslon Pro Bold Italic.ttf') format('truetype'), url('#{$fontPath}/Adobe Caslon Pro Bold Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CaslonI';
	src: url('#{$fontPath}/Adobe Caslon Pro Italic.eot');
	src: local('☺'), url('#{$fontPath}/Adobe Caslon Pro Italic.woff') format('woff'), url('#{$fontPath}/Adobe Caslon Pro Italic.ttf') format('truetype'), url('#{$fontPath}/Adobe Caslon Pro Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}