/*FOOTER*/
.footer{
    margin-top:-125px;
    .content-wrap{
	    background:#2f2f2f;
        margin:0 -280px;
        padding-top:200px;
        padding-bottom:230px;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        @include transform(rotate(9deg));
    }
    .content-box{
        @include transform(rotate(-9deg));
        margin:0px 277px 0px 323px;
        @media (max-width:1000px){
            margin:0px 275px 0px 323px;
        }
    }
    .top-footer{
        padding-bottom:220px;
        overflow:hidden;
        position:relative;
    }
    .top-footer::after{
        content:"";
        display:block;
        max-width:748px;
        position:absolute;
        width:30%;
        bottom: 0;
        @include transform(translateX(-50%));
        left: 50%;
        height:2px;
        background:#4e4e4e;
    }
    .top-footer::before{
        content:"";
        display:block;
        max-width:860px;
        position:absolute;
        width:40%;
        bottom: 13px;
        @include transform(translateX(-50%));
        left: 50%;
        height:2px;
        background:#4e4e4e;
    }
    .left-footer{
        float:left;
        width: 40%;
        max-width:960px;
        .title{
            font-weight:400;
            font-size:58px;
            color:#fff;
            margin-bottom:60px;
            text-transform:uppercase;
        }
    }
    p{
        font-size:36px;
        color:#fff;
        margin-bottom:40px;

    }
    .phone-list{
        font-size:36px;
        color:#fff;
        line-height: 48px;

    }
    .right-footer{
        float:right;
        padding-top:225px;
        width: 50%;
        padding-left: 8.5%;
        color:#fff;
        line-height: 52px;

        .address{
            max-width:470px;
            margin-bottom:100px;
        }
        .option{
            display:inline-block;
            min-width: 200px;
        }
        .item{
            display:inline-block;
        }
    }
.bottom-nav{
    position:relative;
     padding-top:178px;  

    .sub-logo{
        position:absolute;
        display:block;
        border-radius:50%;
        bottom:-38px;
        left:50%;
        width:8.8%;
        height:auto;
       	@include transform(translate(-50%, 0));
        

    }
}


.footer-menu{
   margin-bottom:185px;
    text-align: center;
    letter-spacing:-4px;
    font-size:0;
    @media (min-width:2460px) {
        margin-left:-3%;
    }
    @media (max-width:2459px) {
        margin-left:-6%;
    }
    @media (max-width:768px) {
        margin-left:0;
        background:#fff;
    }
    *{
        line-height:48px;
        letter-spacing:1px;
        font-size:36px;
        display:inline-block;

        @media (max-width:2459px) {
            font-size:28px;
        }
        @media (max-width:1399px) {
            font-size:20px;
        }
        @media (max-width:999px) {
            font-size:18px;
        }
    }
    li{
        display:inline-block;
        vertical-align:top;
        @media (max-width:768px) {
            display:block;
            margin-left:0!important;
        }
        & + li{
            margin-left:4.14%;
            @media (max-width:999px) {
                margin-left:2%;
            }
        }
        &.left-padding{
            margin-left:16.666667%;
            @media (max-width:2459px) {
                margin-left:14%;
            }
            @media (max-width:999px) {
                margin-left:10%;
            }
        }
        
    }
    a{
        color:#9e9e9e;
        text-decoration:none;
        text-transform:uppercase;
        color:#fff;
        &:hover,
        &.active{
            color:#db4343;
        }


    }
    
    
    
   
}

.footer-social{
        text-align: center;

        li{
        	display: inline-block;
    		vertical-align: top;
        }
        a{
        	display: block;
    		text-decoration: none;
    		color: #7b7a7a;
        }
    }


}


