.gallery-box{
    position:relative;
    @media (max-width:1200px){
        text-align:center;
    }
    .item{
        position:relative;
        @include box-shadow(0px 0px 0px 0px rgba(47, 47, 47, 0));
        @include transition($transition);
        @media (max-width:1200px){
            display:inline-block;
            vertical-align:top;
            margin-bottom:30px;
        }
        @media (max-width:500px){
            @include box-shadow(none);
        }
        &:hover{
            z-index:10;
            @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
            @media (max-width:500px){
                @include box-shadow(none);
            }
            a{
                &:after{
                    background:rgba(0,0,0,.8);
                    @media (max-width:768px){
                        background:rgba(0,0,0,.5);
                    }
                    @media (max-width:500px){
                        background:rgba(0,0,0,0);
                    }
                }
                .gallery-info{
                    .gallery-title{
                        margin-bottom:61px;
                        @media (max-width:2459px) {
                            margin-bottom:35px;
                        }
                        @media (max-width:768px){
                            margin-bottom:10px;
                        }
                    }
                    .descr{
                        display:block;
                    }
                }
            }
        }
        a{
            display:block;
            text-decoration:none;
            position:relative;
            &:after{
                position:absolute;
                display:block;
                content:"";
                top:0;
                bottom:0;
                left:0;
                right:0;
                background:rgba(0,0,0,0);
                @include transition($transition);
                @media (max-width:768px){
                    background:rgba(0,0,0,.5);
                }
                @media (max-width:500px){
                    background:rgba(0,0,0,0);
                }
            }
            img{
                display:block;
                max-width:100%;
                @media (max-width:500px){
                    margin-bottom:15px;
                }
            }
        }
    }
    .gallery-info{
        position:absolute;
        top:50%;
        left:50%;
        width:60%;
        @include transform(translate(-50%,-50%));
        color:#fff;
        text-align:center;
        z-index:2;
        @media (max-width:768px){
            width:90%;
        }
        @media (max-width:500px){
            position:static;
            @include transform(none);
            color:#000;
        }
        .gallery-title{
            font:500 58px/78px "Roboto", sans-serif;
            letter-spacing:1px;
            text-transform:uppercase;
            @include transition($transition);
            @media (max-width:2459px) {
                font-size:40px;
                line-height:55px;
            }
            @media (max-width:768px){
                font-size:30px;
                line-height:35px;
                margin-bottom:10px;
            }
        }
        .descr{
            display:none;
            font:400 36px/52px "Roboto", sans-serif;
            text-align:center;
            max-width:685px;
            margin:0 auto;
            @include transition($transition);
            @media (max-width:2459px) {
                font-size:26px;
                line-height:35px;
            }
            @media (max-width:768px){
                display:block;
                font-size:20px;
                line-height:28px;
            }
        }
    }
    .first{
        z-index:2;
        top:155px;
        left:0;
        width:50%;
        max-width:1140px;
        @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
        @media (max-width:1900px) {
            top:100px
        }
        @media (max-width:1500px){
            top:270px;
        }
        @media (max-width:1200px){
            width:90%;
            float:none;
            top:auto;
            left:auto;
        }
        @media (max-width:500px){
            @include box-shadow(none);
        }
        .gallery-info{
            width:70%;
            @media (max-width:1500px){
                width:90%;
            }
            @media (max-width:500px){
                width:100%;
            }
        }
    }
    .second{
        float:right;
        top:-781px;
        right:0;
        width:66.666667%;
        max-width:1540px;
        @media (max-width:1900px) {
            top:-500px;
        }
        @media (max-width:1200px){
            width:90%;
            float:none;
            top:auto;
            right:auto;
        }
        .gallery-info{
            @media (max-width:1500px){
                width:90%;
            }
            @media (max-width:500px){
                width:100%;
            }
        }
    }
    .third{
        float:right;
        top:-729px;
        right:8.333333%;
        width:50%;
        max-width:1140px;
        z-index:2;
        @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
        @media (max-width:1900px) {
            top:-469px;
        }
        @media (max-width:1500px) {
            top:-469px;
        }
        @media (max-width:1200px){
            top:auto;
            right:auto;
            width:90%;
            float:none;
        }
        @media (max-width:500px){
            @include box-shadow(none);
        }
        .gallery-info{
            width:70%;
            @media (max-width:1500px){
                width:90%;
            }
            @media (max-width:500px){
                width:100%;
            }
        }
    }
    .fourth{
        float:left;
        top:-261px;
        left:8.333333%;
        width:40.1709%;
        max-width:940px;
        @media (max-width:1900px) {
            top:-30px;
        }
        @media (max-width:1500px) {
            top:-600px;
            width:60%;
        }
        @media (max-width:1200px){
            top:auto;
            left:auto;
            width:90%;
            float:none;
        }
        .gallery-info{
            width:85%;
            @media (max-width:1500px){
                width:90%;
            }
            @media (max-width:500px){
                width:100%;
            }
        }
    }
    .fifth{
        float:left;   
        left:50%;
        top:-573px;
        width:50%;
        max-width:1140px;
        @media (max-width:1900px) {
            top:-120px;
        }
        @media (max-width:1500px) {
            top:-780px;
            width:65%;
            left:35%;
        }
        @media (max-width:1200px) {
            top:auto;
            left:auto;
            width:90%;
            float:none;
        }
        .gallery-info{
            @media (max-width:1500px){
                width:90%;
            }
            @media (max-width:500px){
                width:100%;
            }
        }
    }
    .btn-holder{
        position:absolute;
        bottom:677px;
        left:205px;
        text-align:left;
        @media (max-width:2459px) {
            left:130px;
        }
        @media (max-width:1900px) {
            bottom:200px;
        }
        @media (max-width:1500px) {
            bottom:550px;
        }
        @media (max-width:1200px) {
            position:static;
            text-align:center;
            margin-top:80px;
        }
    }
}