.fifth-main-wrap{
    position:relative;
    &.content-wrap{
        background:$lightGrey;
        margin:-450px -480px 0;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        -webkit-transform:perspective(1px) rotate(9deg);
        -moz-transform:perspective(1px) rotate(9deg);
        -ms-transform:rotate(9deg);
        -o-transform:rotate(9deg);
        transform:perspective(1px) rotate(9deg);
    }
    .fix-moz{
        position:absolute;
        display:block;
        content:"";
        top:0px;
        left:0;
        bottom:-10px;
        width:100%;
        overflow:hidden;
        .back-img{
            position:absolute;
            display:block;
            content:"";
            top:-188px;
            left:0;
            bottom:-10px;
            width:50.7%;
            -webkit-transform:perspective(1px) rotate(-9deg);
            -moz-transform:perspective(1px) rotate(-9deg);
            -ms-transform:rotate(-9deg);
            -o-transform:rotate(-9deg);
            transform:perspective(1px) rotate(-9deg);
            background-size:cover;
            background-repeat:no-repeat;
            @media (max-width:1000px){
                width:80%;
            }
        }
    }
    .content-box{
        position:relative;
        z-index:2;
        -webkit-transform:perspective(1px) rotate(-9deg);
        -moz-transform:perspective(1px) rotate(-9deg);
        -ms-transform:rotate(-9deg);
        -o-transform:rotate(-9deg);
        transform:perspective(1px) rotate(-9deg);
        /*-webkit-transform-origin:0% 50%;*/
        color:#000;
        margin:0px 460px 0px 480px;
        @media (max-width:1500px){
            margin:0px 466px 0px 495px;
        }
        @media (max-width:1000px){
            margin:0px 473px 0px 495px;
        }
        @media (max-width:500px){
            margin-right:477px;
        }
    }
    .content{
        position:relative;
        padding:144px 0 302px;
        @media (max-width:1000px){
            padding:70px 0 328px;
        }
        @media (max-width:500px){
            padding:30px 0 200px;
        }
    }
    .right-block{
        float:right;
        width:49%;
        padding-left:8.7%;
        padding-right:20px;
        @media (max-width:1000px){
            float:none;
            width:90%;
            margin:0 auto;
            padding:30px 40px;
            background:rgba(255,255,255,.8);
        }
        @media (max-width:500px){
            width:100%;
        }
    }
    .title-number{
        margin-bottom:29px;
    }
    .description{
        p{
            margin-bottom:26px;
            font-size:18px;
            line-height:26px;
        }
    }
}