.fifth-main-wrap{
    position:relative;
    &.content-wrap{
        background:$lightGrey;
        margin:-140px 0 0;
        @include skew(9deg);
    }
    .fix-moz{
        position:absolute;
        display:block;
        content:"";
        top:0px;
        left:0;
        bottom:-20px;
        width:100%;
        overflow:hidden;
        .back-img{
            position:absolute;
            display:block;
            content:"";
            top:-188px;
            left:0;
            bottom:-10px;
            width:50.7%;
            @include skew(-9deg);
            background-size:cover;
            background-repeat:no-repeat;
            @media (max-width:1000px){
                width:100%;
            }
        }
    }
    .content-box{
        position:relative;
        z-index:2;
        @include skew(-9deg);
        color:#000;
    }
    .content{
        position:relative;
        padding:200px 0 220px;
        @media (max-width:1000px){
            padding:120px 0 190px;
        }
    }
    .right-block{
        float:right;
        width:49%;
        padding-left:8.7%;
        padding-right:20px;
        @media (max-width:1000px){
            float:none;
            width:90%;
            margin:0 auto;
            padding:30px 40px;
            background:rgba(255,255,255,.8);
        }
        @media (max-width:500px){
            width:100%;
        }
    }
    .title-number{
        margin-bottom:29px;
    }
    .description{
        p{
            margin-bottom:26px;
            font-size:18px;
            line-height:26px;
        }
    }
}