.first-main-wrap{
    .content-wrap{
        background:#fff;
        margin:0 -200px;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        -webkit-transform:perspective(1px) rotate(-9deg);
        -moz-transform:perspective(1px) rotate(-9deg);
        -ms-transform:rotate(-9deg);
        -o-transform:rotate(-9deg);
        transform:perspective(1px) rotate(-9deg);
    }
    .content-box{
        -webkit-transform:perspective(1px) rotate(9deg);
        -moz-transform:perspective(1px) rotate(9deg);
        -ms-transform:rotate(9deg);
        -o-transform:rotate(9deg);
        transform:perspective(1px) rotate(9deg);
        color:#000;
        margin:20px 177px 20px 223px;
        @media (max-width:2000px){
            margin-right:195px;
        }
        @media (max-width:1200px){
            margin-right:205px;
        }
    }
    .content{
        @media (max-width:2000px){
            padding-bottom:60px;
        }
        @media (max-width:1500px){
            padding-bottom:190px;
        }
    }
    .img-wrap{
        width:57%;
        float:left;
        margin-top:-77px;
        @include box-shadow(0px 0px 35px 0px rgba(47, 47, 47, 0.75));
        @media (max-width:1900px) {
            margin-top:-50px;
        }
        @media (max-width:1500px) {
            width:45%;
        }
        @media (max-width:1200px) {
            width:90%;
            max-width:900px;
            margin:0 auto 10px;
            float:none;
        }
        img{
            display:block;
            width:100%;
            max-width:100%;
        }
    }
    .title-number{
        margin-bottom:20px;
    }
    .info-wrap{
        float:right;
        margin-left:8%;
        width:32%;
        padding-top:68px;
        @media (max-width:1500px) {
            width:47%;
        }
        @media (max-width:1200px) {
            width:100%;
            max-width:700px;
            margin:0 auto;
            float:none;
        }
    }
    .title{
        color:$darkGrey;
        font:600 30px/38px "Roboto", sans-serif;
        position:relative;
        text-transform:uppercase;
        padding-bottom:18px;
        margin-bottom:34px;
        @media (max-width:550px){
            font-size:27px;
            line-height:45px;
        }
        &:after{
            position:absolute;
            display:block;
            content:"";
            background:#dadada;
            bottom:0;
            height:1px;
            left:0;
            width:70px;
        }
    }
    .descr-wrap,
    .descr-wrap p{
        color:$darkGrey;
        font:400 18px/1.4 "Roboto", sans-serif;
    }
}