.second-main-wrap{
    background:$lightGrey;
    margin:0 0px 0;
    @include skew(9deg);
    .content-box{
        margin:0 0 0;
        @include skew(-9deg);
        color:#000;
         @media (max-width:1500px) {
          margin-bottom:165px; 
        }
    }
    .content{
        padding-bottom:385px;
        padding-top:79px;
        @media (max-width:1500px) {
            padding-bottom:150px;
        }
        @media (max-width:1200px){
            padding-top:30px;
            padding-bottom:310px;
        }
        @media (max-width:768px){
            padding-bottom:280px;
        }
    }
    .title-number{
        margin-bottom:94px;
    }
}