.fifth-main-wrap{
    position:relative;
    &.content-wrap{
        overflow:hidden;
        background:#e6e6e6;
        margin:-315px -480px 0;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        @include transform(rotate(9deg));
        @media (max-width:1000px){
            margin-top:-320px;
        }
    }
    .back-img{
        position:absolute;
        display:block;
        content:"";
        top:-188px;
        left:0;
        bottom:-10px;
        width:50.7%;
        @include transform(rotate(-9deg));
        @media (max-width:1000px){
            width:80%;
        }
    }
    .content-box{
        position:relative;
        z-index:2;
        @include transform(rotate(-9deg));
        color:#000;
        margin:0px 460px 0px 480px;
        @media (max-width:1500px){
            margin:0px 466px 0px 495px;
        }
        @media (max-width:500px){
            margin:20px 475px 20px 500px;
        }
    }
    .content{
        position:relative;
        padding:279px 0 302px;
        @media (max-width:1000px){
            padding:90px 0 250px;
        }
        @media (max-width:500px){
            padding:30px 0 200px;
        }
    }
    .right-block{
        float:right;
        width:49%;
        padding-left:8.7%;
        padding-right:20px;
        @media (max-width:1000px){
            float:none;
            width:90%;
            margin:0 auto;
            padding:30px 40px;
            background:rgba(255,255,255,.8);
        }
        @media (max-width:500px){
            width:100%;
        }
    }
    .title-number{
        margin-bottom:57px;
        @media (max-width:1500px){
            margin-bottom:35px;
        }
        .title-num{
            @media (max-width:1500px){
                margin-left:0;
            }
        }
    }
    .description{
        p{
            margin-bottom:52px;
            @media (max-width:1500px){
                font-size:26px;
                line-height:1.4;
                margin-bottom:35px;
            }
            @media (max-width:500px){
                margin-bottom:35px;
            }
        }
    }
}