.btn-holder{
    text-align:center;
}
.btn{
    display:inline-block;
    vertical-align:top;
    text-align:center;
    position:relative;
    z-index:5;
    background:$mainRed;
    padding:18px 49px 18px 60px;
    text-decoration:none;
    @include transition($transition);
    @media (max-width:800px){
        padding:15px 35px;
    }
    &:before,
    &:after{
        position:absolute;
        display:block;
        content:"";
    }
    &:before{
        top:-13px;
        left:-13px;
        width:100%;
        height:100%;
        border:2px solid $mainRed;
        z-index:1;
        @include transition($transition);
        @media (max-width:800px){
            top:-5px;
            left:-5px;
        }
    }
    &:after{
        top:50%;
        margin-top:-5px;
        right:15px;
        z-index:3;
        border-style:inset;
        border-style:solid;
        border-width:5px 0 5px 10px;
        border-color:transparent transparent transparent #ffffff;
        @media (max-width:800px){
         right:8px;
        }
    }
    &:hover{
        &:before{
            top:-8px;
            left:-8px;
        }
    }
    span{
        position:relative;
        display:block;
        z-index:2;
        font:600 14px/16px "Roboto", sans-serif;
        letter-spacing:0.5px;
        text-transform:uppercase;
        color:#ffffff;
        &:before,
        &:after{
            position:absolute;
            display:block;
            content:'';
            top:50%;
            margin-top:-1px;
            height:1px;
            background:#fff;
        }
        &:before{
            left:-44px;
            width:30px;
            @media (max-width:800px){
                left:-25px;
                width:15px;
            }
        }
        &:after{
            right:-25px;
            width:15px;
        }
    }
}