.btn-holder{
	position:relative;
	&.decoration{
		padding-top:27px;
		&:after{
	        bottom:auto;
	        top:7px;
	    }
	    &:before{
	        bottom:auto;
	        top:0px;
	    }
	}
}
.pagination{
	li{
		display:inline-block;
		vertical-align:bottom;
	}
	a{
		display:block;
		font:700 italic 16px/58px "Roboto Slab", serif;
		color:$mainRed;
		text-align:center;
	    min-width:20px;
	    margin:0 3px;
		text-decoration:none;
		&:hover,
		&.active{
			color:$darkGrey;
		}
		&.active{
			font-size:29px;
		    position:relative;
		    top:-7px;
		}
	}
}