.news-wrap{
	margin-bottom:208px;
	&.first-main-wrap{
		.content-wrap{
			margin-top:-110px;
		}
	}
	.content{
		padding-top:200px;
	    padding-bottom:15px;
	}
}
.articles-wrap{
	padding-bottom:170px;
}
.top-news{
	width:66%;
	margin:0 auto;
	.article-item{
		.date{
			width:13%;
			.month{
			    margin-bottom:18px;
			    margin-top:4px;
			}
			.day{
				font-size:137px;
			}
		}
		.art-info{
			width:87%;
			.art-title{
				font-size:55px;
			    margin-bottom:31px;
			    max-width:840px;
			    display:block;
			    margin-top:1px;
			}
			.blog-title{
			    font-size:26px;
		        margin-bottom:51px;
			}
			.art-descr{
			    font-size:33px;
			}
		}
	}
	.slick-prev,
	.slick-next{
	    right:-202px;
	    top:-258px;
	    width:42px;
	    height:60px;
	    &:after,
	    &:before{
	    	position:absolute;
	    	display:block;
	    	content:"";
	    	@include transition($transition);
	    }
	    &:before{
	    	top:50%;
	    	margin-top:-1px;
	    	height:2px;
	    	background:#db4343;
	    }
	    &:after{
		    opacity:1;
		    z-index:2;
		    top:50%;
			margin-top:-10px;
	        border-style:inset;
	        border-style:solid;
	    }
	    &:hover{
	    	&:before{
				background:#2f2f2f;
	    	}
	    }
	}
	.slick-prev{
	    left:auto;
		right:-102px;
		&:before{
			right:0;
	    	left:4px;
		}
		&:after{
			left:0;
			border-width:10px 20px 10px 0;
	        border-color:transparent #db4343 transparent transparent;
		}
		&:hover{
			&:after{
				border-right-color:#2f2f2f;
			}
		}
	}
	.slick-next{
		&:before{
			left:0;
	    	right:4px;
		}
		&:after{
			right:0;
			border-width:10px 0 10px 20px;
	        border-color:transparent transparent transparent #db4343;
		}
		&:hover{
			&:after{
				border-left-color:#2f2f2f;
			}
		}
	}
}
.news{
	&.articles-wrap{
		padding-bottom:396px;
	}
	.article-item{
		&:first-child{
			.art-info{
				.art-title{
					margin-top:-6px;
				}
			}
		}
		.art-info{
			.art-title{
			    font-size:54px;
			    margin-bottom:31px;
			    margin-top:-2px;
			    display:block;

			}
			.blog-title{
		        font-size:27px;
			    margin-bottom:52px;
			}
			.art-descr{
				font-size:34px;
			}
		}
	}
	.article-preview{
		.article-item{
			&:last-child{
			    margin-bottom:297px;
			}
		}
	}
}