@import "main-site-variables";
@import "fonts";
@import "compass";
@import "compass/reset";
@import "mixins";
@import "ico-font";
@import "grid";
@import "slick";
@import "slick-theme";

html{
	min-height: 100%;
}
body{
	min-height:100%;
    font-family:"Roboto", sans-serif;
    font-weight:400;
    font-size:36px;
}
p{
    line-height:52px;
    color:#2f2f2f;
}
.animate, a {
    @include transition($transition);
}
*, *:after, *:before {
    @include box-sizing(border-box);
}
*{
  &:focus{
    outline:none;
  }
  &:before, &:after{
    &:focus{
        outline:none;
    }
  }  
}
.clear:after{
    display: block;
    content: "";
    clear: both;
}
.flex{
    @include flex();
}
.wrapper{
    width:100%;
    min-width:320px;
    overflow:hidden;
}
.content{
    width:100%;
    max-width:2460px;
    padding:0 1.9%;
    margin:0 auto;
    position:relative;
}

/*HEADER*/
.header{
    padding:65px 0 41px;
    position:relative;
    z-index:30;
    @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
    @media (max-width:1950px) {
        padding:45px 0 30px;
    }
    @media (max-width:1399px) {
        padding:20px 0 0px;
    }
    @media (max-width:768px) {
        padding-bottom:10px;
        background:#fff;
    }
}
.logo-wrapper{
    max-width:591px;
    width:33.3333%;
    margin:0 auto 56px;
    @media (max-width:1399px) {
        margin-bottom:30px;
    }
    @media (max-width:999px) {
        margin-bottom:15px;
    }
    @media (max-width:768px) {
        width:60%;
    }
    a{
        display:block;
    }
    img{
        display:block;
        max-width:100%;
    }
}
.top-nav{
    position:relative;
    @media (min-width:769px) {
        display:block!important;
    }
    @media (max-width:768px) {
        display:none;
        position:absolute;
        top:100%;
        left:0;
        right:0;
        z-index:25;
    }
    .sub-logo{
        position:absolute;
        display:block;
        border-radius:50%;
        background:#fff;
        top:-13px;
        left:50%;
        width:8.8%;
        height:auto;
        -moz-transform:translate(-50%, 0);
        -ms-transform:translate(-50%, 0);
        -webkit-transform:translate(-50%, 0);
        transform:translate(-50%, 0);
        @media (max-width:1920px) {
            top:-4px;
        }
        @media (max-width:1399px) {
            top:-12px;
        }
        @media (max-width:999px) {
            width:7%;
            top:7px;
        }
        @media (max-width:768px) {
            display:none;
        }
        img{
            display:block;
            max-width:100%;
        }
    }
}
.header-nav{
    text-align:center;
    letter-spacing:-4px;
    font-size:0;
    @media (min-width:2460px) {
        margin-left:-3%;
    }
    @media (max-width:2459px) {
        margin-left:-6%;
    }
    @media (max-width:768px) {
        margin-left:0;
        background:#fff;
    }
    *{
        line-height:48px;
        letter-spacing:1px;
        font-size:36px;
        @media (max-width:2459px) {
            font-size:28px;
        }
        @media (max-width:1399px) {
            font-size:20px;
        }
        @media (max-width:999px) {
            font-size:18px;
        }
    }
    li{
        display:inline-block;
        vertical-align:top;
        @media (max-width:768px) {
            display:block;
            margin-left:0!important;
        }
        & + li{
            margin-left:4.14%;
            @media (max-width:999px) {
                margin-left:2%;
            }
        }
        &.left-padding{
            margin-left:16.666667%;
            @media (max-width:2459px) {
                margin-left:14%;
            }
            @media (max-width:999px) {
                margin-left:10%;
            }
        }
    }
    a{
        color:#9e9e9e;
        text-decoration:none;
        text-transform:uppercase;
        &:hover,
        &.active{
            color:#db4343;
        }
    }
}
.mob-btn{
    display:none;
    position:absolute;
    z-index:26;
    top:-7px;
    right:5px;
    width:58px;
    height:44px;
    background:transparent;
    padding:19px 11px 20px;
    @include appearance(none);
    @media (max-width:768px) {
		display:block;
	}
    &:hover{
        div{
        	background:#000;
        	&:before,
	        &:after{
	        	background:#000;
	        }
        }
    }
    &.active{
        div{
            background:transparent;
            &:before,
            &:after{
                @include transition-delay(0s,.3s);
            }
            &:before{
                top:0px;
                @include transform(rotate(45deg));
            }
            &:after{
                bottom:0px;
                @include transform(rotate(-45deg));
            }
        }
    }
    div{
        text-indent:-9999px;
        height:5px;
        display:block;
        background:#000;
        position:relative;
        @include transition(background 0.3s 0s);
        &:before,
        &:after{
            position:absolute;
            content:"";
            left:0;
            right:0;
            height:5px;
            z-index:1;
            background:#000;
            @include transition-delay(.3s, 0s, 0s);
            @include transition-duration(.3s, .3s, .3s);
        }
        &:before{
            top:-9px;
            @include transition-property(top,transform, background);
        }
        &:after{
            bottom:-9px;
            @include transition-property(bottom,transform, background);
        }
    }
}
.layout{
    display:none;
    position:fixed;
    left:0;
    top:-100px;
    bottom:-100px;
    right:0;
    z-index:20;
    background:rgba(0, 0, 0, 0.3);
    @media (min-width:769px) {
        display:none!important;
    }
}

/*TOP SLIDER*/
.top-slider{
    .slick-list{
        overflow:visible;
    }
    .slick-slide{
        outline:none;
    }
    img{
        display:block;
        max-width:100%;
    }
    .slick-dots{
        bottom:31.5%;
        @media (max-width:999px) {
            /*bottom:35%;*/
        }
        li{
            width:22px;
            height:22px;
            margin:0;
            &.slick-active,
            &:hover{
                button{
                    background:#fff;
                }
            }
            & + li{
                margin-left:18px;
            }
            button{
                border:2px solid #fff;
                @include border-radius(50%);
                background:transparent;
                &:before{
                    display:none;
                }
            }
        }
    }
    .slide-info{
        position:absolute;
        left:0;
        right:0;
        bottom:28.5%;
        max-width:860px;
        margin:0 auto;
        text-align:center;
        color:#fff;
        border-top:2px solid rgba(255,255,255,.3);
        border-bottom:2px solid rgba(255,255,255,.3);
        @media (max-width:1200px){
            width:420px;
        }
        &:before, 
        &:after{
            position:absolute;
            display:block;
            content:"";
            background:#fff;
            opacity:0.3;
            width:2px;
            top:0;
            height:90%;
        }
        &:before{
            left:47px;
            @media (max-width:1200px){
                left:25px;
            }
        }
        &:after{
            right:47px;
            @media (max-width:1200px){
                right:25px;
            }
        }
        .slide-box{
            padding:50px 55px 160px;
            @media (max-width:1200px){
                padding:10px 30px 50px;
            }
            &:before{
                position:absolute;
                display:block;
                content:"";
                background:#fff;
                opacity:0.3;
                height:2px;
                left:0;
                right:0;
                top:-13px;
            }
        }
        @media (max-width:999px) {
            width:330px;
        }
        .title{
            font:700 400px/0.77 "Roboto Slab", serif;
            letter-spacing:-0.5px;
            margin-bottom:50px;
            @media (max-width:1200px){
                font-size:200px;
            }
        }
        .sub-title{
            font-size:58px;
            line-height:1;
            letter-spacing:1px;
            font-weight:600;
            text-transform:uppercase;
            max-width:300px;
            margin:0 auto;
            @media (max-width:1200px){
                font-size:40px;
            }
        }
    }
}
/*FIRST Block*/
.title-number{
    margin-bottom:45px;
    .number{
        display:inline-block;
        vertical-align:bottom;
        font:700 italic 94px/1 "Roboto Slab", serif;
        color:#db4343;
        letter-spacing:-0.5px;
    }
    .title-num{
        display:inline-block;
        vertical-align:bottom;
        font:400 36px/45px "Roboto", sans-serif;
        color:#2f2f2f;
        letter-spacing:1px;
        text-transform:uppercase;
        margin-left:16px;
    }
}
.first-main-wrap{
    .content-wrap{
        background:#fff;
        margin:0 -200px;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        -webkit-transform:rotate(-9deg);
        -moz-transform:rotate(-9deg);
        -o-transform:rotate(-9deg);
        -ms-transform:rotate(-9deg);
        transform:rotate(-9deg);
    }
    .content-box{
        -webkit-transform:rotate(9deg);
        -moz-transform:rotate(9deg);
        -o-transform:rotate(9deg);
        -ms-transform:rotate(9deg);
        transform:rotate(9deg);
        color:#000;
        margin:20px 177px 20px 223px;
    }

    .img-wrap{
        width:57%;
        float:left;
        margin-top:-212px;
        @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
        @media (max-width:1500px) {
            width:45%;
        }
        @media (max-width:1200px) {
            width:80%;
            max-width:700px;
            margin:-68px auto 60px;
            float:none;
            /*@include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));*/
        }
        img{
            display:block;
            max-width:100%;
        }
    }
    .title-number{
        margin-bottom:41px;
    }
    .info-wrap{
        float:right;
        margin-left:8%;
        width:32%;
        padding-top:68px;
        @media (max-width:1500px) {
            width:47%;
        }
        @media (max-width:1200px) {
            width:100%;
            max-width:700px;
            margin:0 auto;
            float:none;
        }
    }
    .title{
        color:#2f2f2f;
        font:600 58px/78px "Roboto", sans-serif;
        position:relative;
        text-transform:uppercase;
        padding-bottom:29px;
        margin-bottom:68px;
        @media (max-width:2459px) {
            font-size:40px;
            line-height:65px;
            padding-bottom:25px;
            margin-bottom:50px;
        }
        @media (max-width:550px){
            font-size:27px;
            line-height:45px;
        }
        &:after{
            position:absolute;
            display:block;
            content:"";
            background:#dadada;
            bottom:0;
            height:2px;
            left:0;
            width:140px;
        }
    }
    .descr-wrap,
    .descr-wrap p{
        color:#2f2f2f;
        font:400 36px/52px "Roboto", sans-serif;
        @media (max-width:2459px) {
            font-size:28px;
            line-height:1.4;
        }
    }
}
.second-main-wrap{
    background:#e6e6e6;
    margin:-413px -480px 0;
    -webkit-transform-origin:left center;
    -moz-transform-origin:left center;
    -o-transform-origin:left center;
    -ms-transform-origin:left center;
    transform-origin:left center;
    -webkit-transform:rotate(9deg);
    -moz-transform:rotate(9deg);
    -o-transform:rotate(9deg);
    -ms-transform:rotate(9deg);
    transform:rotate(9deg);
    @media (max-width:1200px){
        margin-top:-130px;
    }
    .content-box{
        -webkit-transform:rotate(-9deg);
        -moz-transform:rotate(-9deg);
        -o-transform:rotate(-9deg);
        -ms-transform:rotate(-9deg);
        transform:rotate(-9deg);
        color:#000;
        margin:20px 480px 20px 520px;
    }
    .content{
        padding-bottom:600px;
        padding-top:148px;
    }
    .title-number{
        margin-bottom:94px;
    }
}
.gallery-box{
    position:relative;
    .item{
        position:relative;
        @include box-shadow(0px 0px 0px 0px rgba(47, 47, 47, 0));
        @include transition($transition);
        &:hover{
            z-index:10;
            @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
            a{
                &:after{
                    background:rgba(0,0,0,.8);
                }
                .gallery-info{
                    .gallery-title{
                        margin-bottom:61px;
                        @media (max-width:2459px) {
                            margin-bottom:35px;
                        }
                    }
                    .descr{
                        display:block;
                    }
                }
            }
        }
        a{
            display:block;
            text-decoration:none;
            position:relative;
            &:after{
                position:absolute;
                display:block;
                content:"";
                top:0;
                bottom:0;
                left:0;
                right:0;
                background:rgba(0,0,0,0);
                @include transition($transition);
            }
            img{
                display:block;
                max-width:100%;
            }
        }
    }
    .gallery-info{
        position:absolute;
        top:50%;
        left:50%;
        width:60%;
        @include transform(translate(-50%,-50%));
        color:#fff;
        text-align:center;
        z-index:2;
        .gallery-title{
            font:500 58px/78px "Roboto", sans-serif;
            letter-spacing:1px;
            text-transform:uppercase;
            @include transition($transition);
            @media (max-width:2459px) {
                font-size:40px;
                line-height:55px;
            }
        }
        .descr{
            display:none;
            font:400 36px/52px "Roboto", sans-serif;
            text-align:center;
            max-width:685px;
            margin:0 auto;
            @include transition($transition);
            @media (max-width:2459px) {
                font-size:26px;
                line-height:35px;
            }
        }
    }
    .first{
        z-index:2;
        top:155px;
        left:0;
        width:50%;
        max-width:1140px;
        @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
        .gallery-info{
            width:70%;
        }
    }
    .second{
        float:right;
        top:-781px;
        right:0;
        width:66.666667%;
        max-width:1540px;
    }
    .third{
        float:right;
        top:-729px;
        right:8.333333%;
        width:50%;
        max-width:1140px;
        z-index:2;
        @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
        .gallery-info{
            width:70%;
        }
    }
    .fourth{
        float:left;
        top:-261px;
        left:8.333333%;
        width:40.1709%;
        max-width:940px;
        .gallery-info{
            width:85%;
        }
    }
    .fifth{
        float:left;   
        left:50%;
        top:-573px;
        width:50%;
        max-width:1140px;
    }
    .btn-holder{
        position:absolute;
        bottom:677px;
        left:205px;
        text-align:left;
        @media (max-width:2459px) {
            left:130px;
        }
    }

}
/*Third block*/
.third-main-wrap{
    &.content-wrap{
        background:#fff;
        margin:0 -480px;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        -webkit-transform:rotate(-9deg);
        -moz-transform:rotate(-9deg);
        -o-transform:rotate(-9deg);
        -ms-transform:rotate(-9deg);
        transform:rotate(-9deg);
    }
    .content-box{
        position:relative;
        z-index:2;
        -webkit-transform:rotate(9deg);
        -moz-transform:rotate(9deg);
        -o-transform:rotate(9deg);
        -ms-transform:rotate(9deg);
        transform:rotate(9deg);
        color:#000;
        margin:20px 507px 20px 495px;
        @media (max-width:550px){
            margin:20px 475px 20px 500px;
        }
    }
    .content{
        padding-bottom:95px;
        padding-top:226px;
        border:2px solid #2f2f2f;
        position:relative;
        top:-120px;
        @media (max-width:1200px) {
            padding-top:70px;
            padding-bottom:50px;
        }
    }
    .title-number{
        width:49%;
        float:right;
        margin-bottom:95px;
        @media (max-width:1200px) {
            float:none;
            width:auto;
        }
    }
    .social-title{
        color:#9e9e9e;
        font-size:28px;
        line-height:48px;
        margin-bottom:43px;
        text-align:center;
        @media (max-width:1300px) {
            margin-bottom:20px;
        }
    }
    .social-links{
        text-align:center;
        li{
            display:inline-block;
            vertical-align:top;
            & + li{
                margin-left:5px;
            }
        }
        a{
            display:block;
            text-decoration:none;
            color:#2f2f2f;
            i{
                display:block;
                font-size:55px;
            }
        }
    }
    .grey{
        padding:423px 0;
        background:#e6e6e6;
        margin:-921px -480px 0;
        -webkit-transform-origin:left center;
        -moz-transform-origin:leftcenter;
        -o-transform-origin:lef center;
        -ms-transform-origin:eft center;
        transform-origin:left enter;
        -webkit-transform:rotate(18deg);
        -moz-transform:rotate(18deg);
        -o-transform:rotate(18deg);
        -ms-transform:rotate(18deg);
        transform:rotate(18deg);
        @media (max-width:2459px) {
            margin-top:-750px;
        }
        @media (max-width:2000px) {
            margin-top:-600px;
        }
        @media (max-width:1200px) {
            margin-top:-480px;
        }
    }
}
.gallery{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    outline:none;
    -webkit-touch-callout:initial;
    -webkit-user-select:initial;
    -khtml-user-select:initial;
    -moz-user-select:initial;
    -ms-user-select:initial;
    user-select:initial;
    @media (max-width:800px){
        display:block;
        max-width:540px;
        margin:0 auto;
    }
    .gallery-item{
        width:23.2%;
        margin-left:2.4%;
        margin-bottom:164px;
        &:nth-child,
        &:nth-child-last(2),
        &:nth-child-last(3),
        &:nth-child-last(4){
            margin-bottom:130px;
        }

        @media (max-width:1300px){
            width:48%;
            margin-left:0;
            margin-bottom:80px;
        }
        @media (max-width:800px){
            margin:0!important;
        }
        &:nth-child(4n-3){
            margin-left:0;
        }
        &:nth-child(even){
            @media (max-width:1300px){
                margin-left:4%;
            }
        }
        img{
            display:block;
            max-width:100%;
            margin:0 auto;
        }
    }
    .img-wrap{
        display:block;
        position:relative;
        text-decoration:none;
        margin-bottom:28px;
        .sticker{
            position:absolute;
            display:block;
            top:0;
            left:0;
            width:80px;
            height:80px;
            background:rgba(47,47,47,.75);
            text-align:center;
            i{
                font-size:54px;
                line-height:80px;
                color:#fff;
            }
        }
    }
    .gal-item-info{
        font-size:28px;
    }
    .author{
        color:#9e9e9e;
        margin-bottom:19px;
    }
    .info{
        color:#2f2f2f;
        font-size:28px;
        line-height:42px;
    }
}
.fourth-main-wrap{
    background:#fff;
    margin:130px -480px 0;
    -webkit-transform-origin:left center;
    -moz-transform-origin:left center;
    -o-transform-origin:left center;
    -ms-transform-origin:left center;
    transform-origin:left center;
    -webkit-transform:rotate(9deg);
    -moz-transform:rotate(9deg);
    -o-transform:rotate(9deg);
    -ms-transform:rotate(9deg);
    transform:rotate(9deg);
    .content-box{
        -webkit-transform:rotate(-9deg);
        -moz-transform:rotate(-9deg);
        -o-transform:rotate(-9deg);
        -ms-transform:rotate(-9deg);
        transform:rotate(-9deg);
        color:#000;
        margin:20px 471px 20px 520px;
    }
    .content{
        padding-top:40px;
        position:relative;
        z-index:5;
        top:-664px;
        @media (max-width:500px){
            top:-450px;
        }
    }
    .title-number{
        margin-bottom:199px;
        @media (max-width:1500px){
            margin-bottom:105px;
        }
        .title-num{
            @media (max-width:500px){
                margin-left:0;
                font-size:26px;
                line-height:36px;
            }
        }
    }
}
.article-preview{
    .article-item{
        margin-bottom:296px;
        @media (max-width:1500px){
            margin-bottom:120px;
        }
        &:last-child{
            margin-bottom:313px;
        }
        .img-wrap{
            float:right;
            width:41.666667%;
            @media (max-width:800px){
                display:block;
                float:none!important;
                width:100%;
                max-width:800px;
                margin-bottom:40px;
            }
        }
        .art-wrap{
            float:left;
            width:41.666667%;
            @media (max-width:1500px){
                width:50%;
            }
            @media (max-width:800px){
                float:none!important;
                width:100%;
                max-width:800px;
            }

        }
        &:nth-child(even){
            .img-wrap{
                float:left;
            }
            .art-wrap{
                float:right;
                margin-right:7%;
                @media (max-width:1500px){
                    margin-right:0;
                }
            }
        }
    }
    .date{
        float:left;
        width:19%;
        margin-top:-2px;
        @media (max-width:2000px){
            width:25%;
        }
        @media (max-width:1500px){
            width:18%;
        }
        @media (max-width:1000px){
            float:none;
            width:100%;
        }
        .month{
            color:#9e9e9e;
            font-size:28px;
            line-height:48px;
            letter-spacing:0.25px;
            text-transform:uppercase;
            margin-bottom:4px;
            @media (max-width:1500px){
                font-size:25px;
            }
            @media (max-width:1200px){
                font-size:18px;
            }
            @media (max-width:1000px){
                display:inline-block;
                vertical-align:bottom;
            }
        }
        .day{
            color:#2f2f2f;
            font:700 italic 152px/0.75 "Roboto Slab", serif;
            letter-spacing:-0.5px;
            @media (max-width:2000px){
                font-size:75px;
            }
            @media (max-width:1000px){
                display:inline-block;
                vertical-align:bottom;
                font-size:18px;
                line-height:49px;
            }
        }
    }
    .art-info{
        float:right;
        width:80%;
        @media (max-width:2000px){
            width:73%;
        }
        @media (max-width:1500px){
            width:80%;
        }
        @media (max-width:1000px){
            float:none;
            width:100%;
        }
        .art-title{
            color:#db4343;
            font-size:58px;
            line-height:74px;
            font-weight:600;
            text-transform:uppercase;
            margin-bottom:26px;
            @media (max-width:1500px){
                font-size:38px;
                line-height:45px;
                margin-bottom:20px;
            }
            @media (max-width:800px){
                margin-bottom:5px;
            }
        }
        .blog-title{
            color:#9e9e9e;
            font-size:28px;
            line-height:48px;
            letter-spacing:0.25px;
            text-transform:uppercase;
            margin-bottom:55px;
            @media (max-width:1500px){
                font-size:25px;
                margin-bottom:30px;
            }
        }
    }
    .art-descr{
        color:#2f2f2f;
        font-size:36px;
        line-height:52px;
        @media (max-width:1500px){
            font-size:20px;
            line-height:29px;
        }
    }
    .img-wrap{
        &:hover{
            @include box-shadow(0px 0px 65px 0px rgba(47, 47, 47, 0.75));
        }
        img{
            display:block;
            max-width:100%;
        }
    }
}
.fifth-main-wrap{
    position:relative;
    &.content-wrap{
        overflow:hidden;
        background:#e6e6e6;
        margin:-315px -480px 0;
        -webkit-transform-origin:left center;
        -moz-transform-origin:left center;
        -o-transform-origin:left center;
        -ms-transform-origin:left center;
        transform-origin:left center;
        @include transform(rotate(9deg));
        @media (max-width:1000px){
            margin-top:-320px;
        }
    }
    .back-img{
        position:absolute;
        display:block;
        content:"";
        top:-188px;
        left:0;
        bottom:-10px;
        width:50.7%;
        @include transform(rotate(-9deg));
        @media (max-width:1000px){
            width:80%;
        }
    }
    .content-box{
        position:relative;
        z-index:2;
        @include transform(rotate(-9deg));
        color:#000;
        margin:0px 460px 0px 480px;
        @media (max-width:1500px){
            margin:0px 466px 0px 495px;
        }
        @media (max-width:500px){
            margin:20px 475px 20px 500px;
        }
    }
    .content{
        position:relative;
        padding:279px 0 302px;
        @media (max-width:1000px){
            padding:90px 0 250px;
        }
        @media (max-width:500px){
            padding:30px 0 200px;
        }
    }
    .right-block{
        float:right;
        width:49%;
        padding-left:8.7%;
        padding-right:20px;
        @media (max-width:1000px){
            float:none;
            width:90%;
            margin:0 auto;
            padding:30px 40px;
            background:rgba(255,255,255,.8);
        }
        @media (max-width:500px){
            width:100%;
        }
    }
    .title-number{
        margin-bottom:57px;
        @media (max-width:1500px){
            margin-bottom:35px;
        }
        .title-num{
            @media (max-width:1500px){
                margin-left:0;
            }
        }
    }
    .description{
        p{
            margin-bottom:52px;
            @media (max-width:1500px){
                font-size:26px;
                line-height:1.4;
                margin-bottom:35px;
            }
            @media (max-width:500px){
                margin-bottom:35px;
            }
        }
    }
}
/*btn*/
.btn-holder{
    text-align:center;
}
.btn{
    display:inline-block;
    vertical-align:top;
    text-align:center;
    position:relative;
    background:#db4343;
    padding:36px 99px 36px 125px;
    text-decoration:none;
    @include transition($transition);
    @media (max-width:800px){
        padding:15px 35px;
    }
    &:before,
    &:after{
        position:absolute;
        display:block;
        content:"";
    }
    &:before{
        top:-13px;
        left:-13px;
        width:100%;
        height:100%;
        border:2px solid #db4343;
        z-index:1;
        @include transition($transition);
        @media (max-width:800px){
            top:-5px;
            left:-5px;
        }
    }
    &:after{
        top:50%;
        margin-top:-10px;
        right:30px;
        z-index:3;
        border-style:inset;
        border-style:solid;
        border-width:10px 0 10px 20px;
        border-color:transparent transparent transparent #ffffff;
        @media (max-width:800px){
            right:10px;
            border-width:6px 0 6px 12px;
            margin-top:-6px;
        }
    }
    &:hover{
        &:before{
            top:-8px;
            left:-8px;
        }
    }
    span{
        position:relative;
        display:block;
        z-index:2;
        font:600 28px/32px "Roboto", sans-serif;
        letter-spacing:0.5px;
        text-transform:uppercase;
        color:#ffffff;
        @media (max-width:800px){
            font-size:20px;
        }
        &:before,
        &:after{
            position:absolute;
            display:block;
            content:'';
            top:50%;
            margin-top:-1px;
            height:2px;
            background:#fff;
        }
        &:before{
            left:-93px;
            width:60px;
            @media (max-width:800px){
                left:-25px;
                width:15px;
            }
        }
        &:after{
            right:-67px;
            width:40px;
            @media (max-width:800px){
                right:-25px;
                width:15px;
            }
        }
    }
}
.fancybox-infobar__body{
    vertical-align:top;
}
@import "footer";